services:
  code-server:
    image: lscr.io/linuxserver/code-server:latest
    container_name: code-server
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - PASSWORD=${CODE_SERVER_PASSWORD}
      - HASHED_PASSWORD=${CODE_SERVER_HASHED_PASSWORD:-}
      - SUDO_PASSWORD=${CODE_SERVER_SUDO_PASSWORD}
      - SUDO_PASSWORD_HASH=${CODE_SERVER_SUDO_PASSWORD_HASH:-}
      - PROXY_DOMAIN=${CODE_SERVER_PROXY_DOMAIN:-code-server.my.domain}
      - DEFAULT_WORKSPACE=/config/workspace
      - PWA_APPNAME=code-server
    volumes:
      - /path/to/code-server/config:/config
    ports:
      - 8443:8443
    restart: unless-stopped
